name: Aspendos Elite Edition (KDE Plasma)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Gerekli Araclar
        run: |
          sudo apt-get update
          sudo apt-get install -y xorriso grub-pc-bin grub-common mtools squashfs-tools debootstrap

      - name: Aspendos Sarayini Insa Et
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/live
          
          # 1. Temel Sistemi Kur
          sudo debootstrap --arch=amd64 bookworm chroot-dir http://deb.debian.org/debian/
          
          # 2. Hata 100 Cozumu: Depo Listesini En Genis Haliyle Yaz (Garanti Yol)
          sudo bash -c 'cat <<EOF > chroot-dir/etc/apt/sources.list
          deb http://deb.debian.org/debian bookworm main contrib non-free non-free-firmware
          deb http://deb.debian.org/debian bookworm-updates main contrib non-free non-free-firmware
          deb http://security.debian.org/debian-security bookworm-security main contrib non-free non-free-firmware
          EOF'
          
          # 3. Paketleri Kur (KDE Plasma + Office + Firefox)
          sudo chroot chroot-dir apt-get update
          sudo chroot chroot-dir apt-get install -y --no-install-recommends \
            linux-image-amd64 live-boot sudo xorg sddm kde-plasma-desktop \
            konsole dolphin firefox-esr libreoffice-writer libreoffice-calc \
            libreoffice-l10n-tr nanorc

          # 4. Kullanici Ayari (aspendos / 123)
          sudo chroot chroot-dir useradd -m -s /bin/bash aspendos
          echo "aspendos:123" | sudo chroot chroot-dir chpasswd
          echo "aspendos ALL=(ALL) NOPASSWD:ALL" | sudo tee chroot-dir/etc/sudoers.d/aspendos

          # 5. Logo Klasorunu Hazirla (Hata vermemesi icin kontrol ekli)
          sudo mkdir -p chroot-dir/usr/share/aspendos
          if [ -f "logo.jpg" ]; then
            sudo cp logo.jpg chroot-dir/usr/share/aspendos/logo.jpg
          fi
          
          # 6. Kernel ve Initrd Dosyalarini Tasi
          cp chroot-dir/boot/vmlinuz-* iso/boot/vmlinuz
          cp chroot-dir/boot/initrd.img-* iso/boot/initrd.img
          
          # 7. Dosya Sistemini Sıkıştır (KDE ile bu islem 15-20 dk surebilir)
          sudo mksquashfs chroot-dir iso/live/filesystem.squashfs -noappend
          
          # 8. Boot Menusu (Grub)
          echo 'set default=0
          set timeout=5
          menuentry "Aspendos OS - KDE Elite" {
            linux /boot/vmlinuz boot=live quiet splash
            initrd /boot/initrd.img
          }' > iso/boot/grub/grub.cfg
          
          # 9. ISOyu Olustur
          sudo grub-mkrescue -o output.iso iso

      - name:
