name: Aptos Arch Elite - Final Rescue
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Depolari Guncelle
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm
          pacman -S --noconfirm arch-install-scripts squashfs-tools libisoburn grub mtools dosfstools binutils

      - name: Aptos Kok Dizini ve GUI
        run: |
          mkdir /aptos_root
          # Buraya mkinitcpio-archiso paketini ekledim (Kritik!)
          pacstrap -K /aptos_root base linux linux-firmware networkmanager \
          gnome-shell gdm gnome-control-center nautilus gnome-console \
          gnome-backgrounds sudo fastfetch mesa xorg-server mkinitcpio-archiso --noconfirm

      - name: Bootloader ve Root Tamiri (Kritik Adim)
        run: |
          arch-chroot /aptos_root /bin/bash -c "
            # HOOKS kismina archiso eklendi, bu olmadan Live sistem acilmaz!
            echo 'HOOKS=(base udev memdisk archiso_shutdown archiso archiso_loop_mnt archiso_pxe_common archiso_kms block filesystems keyboard)' > /etc/mkinitcpio.conf
            mkinitcpio -p linux
            
            systemctl enable gdm
            systemctl enable NetworkManager
            useradd -m -g users -G wheel -s /bin/bash aspendos
            echo 'aspendos:123' | chpasswd
            echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel
          "

      - name: ISO'yu Insa Et (The Master Key)
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/arch/x86_64
          mksquashfs /aptos_root iso/arch/x86_64/airootfs.sfs -comp xz

          cp /aptos_root/boot/vmlinuz-linux iso/boot/vmlinuz
          cp /aptos_root/boot/initramfs-linux.img iso/boot/initrd.img

          cat <<EOF > iso/boot/grub/grub.cfg
          set default=0
          set timeout=5
          menuentry "Aptos Elite Arch Edition" {
            # archisolabel ve volid birebir APTOS olmali
            linux /boot/v
