name: Aptos Arch Elite - GUI Final
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Depolari Guncelle ve Keyring Coz
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm
          pacman -S --noconfirm arch-install-scripts squashfs-tools libisoburn grub mtools dosfstools binutils

      - name: Aptos Kok Dizini ve GUI (Hatasiz Paketler)
        run: |
          mkdir /aptos_root
          # Gereksiz ve bulunamayan xf86 paketlerini attik.
          # mesa ve xorg-server her turlu ekran kartini (Sanal/Gercek) calistirir.
          pacstrap -K /aptos_root base linux linux-firmware networkmanager \
          gnome-shell gdm gnome-control-center nautilus gnome-console \
          gnome-backgrounds sudo fastfetch mesa xorg-server xorg-xinit --noconfirm

      - name: Aptos Markalamasi ve GUI Aktivasyonu
        run: |
          echo "aptos" > /aptos_root/etc/hostname
          
          cat <<EOF > /aptos_root/etc/os-release
          NAME="Aptos Elite"
          ID=aptos
          ID_LIKE=arch
          PRETTY_NAME="Aptos Elite Arch Edition"
          EOF

          arch-chroot /aptos_root /bin/bash -c "
            systemctl enable gdm
            systemctl enable NetworkManager
            useradd -m -g users -G wheel -s /bin/bash aspendos
            echo 'aspendos:123' | chpasswd
            echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel
            locale-gen
          "

      - name: ISO'yu Insa Et
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/arch/x86_64
          mksquashfs /aptos_root iso/arch/x86_64/airootfs.sfs -comp xz

          cp /aptos_root/boot/vmlinuz-linux iso/boot/vmlinuz
          cp /aptos_root/boot/initramfs-linux.img iso/boot/initrd.img

          cat <<EOF > iso/boot/grub/grub.cfg
          set default=0
          set timeout=5
          menuentry "Aptos Elite Arch" {
            linux /boot/vmlinuz archisobasedir=arch archisolabel=APTOS_LIVE rw
            initrd /boot/initrd.img
          }
          EOF

          grub-mkrescue -o Aptos-Arch-Final.iso iso

      - name: ISO'yu Yukle
        uses: actions/upload-artifact@v4
        with:
          name: Aptos-Arch-Final-Build
          path: Aptos-Arch-Final.iso
