name: Aptos Arch Elite - GUI Edition
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Depolari Guncelle ve Keyring Hatalarini Coz
        run: |
          # Arch'ta paket indirme hatalarını önlemek için anahtarlığı tazeliyoruz
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm
          pacman -S --noconfirm arch-install-scripts squashfs-tools libisoburn grub mtools dosfstools binutils

      - name: Aptos Kok Dizini ve GUI Paketleri (Chroot)
        run: |
          mkdir /aptos_root
          # base: Sistem çekirdeği
          # linux, linux-firmware: Sürücüler
          # gnome, gdm: Masaüstü ve Giriş Ekranı
          # networkmanager: İnternet bağlantısı
          pacstrap -K /aptos_root base linux linux-firmware networkmanager gnome-shell gnome-terminal gdm sudo neofetch --noconfirm

      - name: Aptos Markalamasi ve GUI Aktivasyonu
        run: |
          # Hostname Belirleme
          echo "aptos" > /aptos_root/etc/hostname
          
          # os-release Dosyasını Aptos Yap (Debian'dan kurtulduk!)
          cat <<EOF > /aptos_root/etc/os-release
          NAME="Aptos Elite"
          ID=aptos
          ID_LIKE=arch
          PRETTY_NAME="Aptos Elite Arch Edition"
