name: Aspendos ISO Masaustu Dahil
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Gerekli Araclar
        run: |
          sudo apt-get update
          sudo apt-get install -y xorriso grub-pc-bin grub-common mtools squashfs-tools debootstrap

      - name: Aspendos Sarayini Insa Et
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/live
          
          # 1. Sistemi Kur (Arayuz paketlerini buraya ekledik!)
          sudo debootstrap --arch=amd64 bookworm chroot-dir http://deb.debian.org/debian/
          
          # 2. Kernel + Masaustu (XFCE) + Giris Ekrani direkt fırına!
          sudo chroot chroot-dir apt-get update
          sudo chroot chroot-dir apt-get install -y --no-install-recommends \
            linux-image-amd64 live-boot sudo xorg xfce4 xfce4-terminal lightdm

          # 3. Kullanici Ayari
          sudo chroot chroot-dir useradd -m -s /bin/bash aspendos
          echo "aspendos:123" | sudo chroot chroot-dir chpasswd
          echo "aspendos ALL=(ALL) NOPASSWD:ALL" | sudo tee chroot-dir/etc/sudoers.d/aspendos

          # 4. Logo Ekleme
          sudo mkdir -p chroot-dir/usr/share/aspendos
          if [ -f "logo.jpg" ]; then
            sudo cp logo.jpg chroot-dir/usr/share/aspendos/logo.jpg
          fi

          # 5. Paketleme
          cp chroot-dir/boot/vmlinuz-* iso/boot/vmlinuz
          cp chroot-dir/boot/initrd.img-* iso/boot/initrd.img
          sudo mksquashfs chroot-dir iso/live/filesystem.squashfs -noappend
          
          # 6. Grub
          echo 'set default=0
          set timeout=5
          menuentry "Aspendos OS - Masaustu Surumu" {
            linux /boot/vmlinuz boot=live quiet splash
            initrd /boot/initrd.img
          }' > iso/boot/grub/grub.cfg
          
          sudo grub-mkrescue -o output.iso iso

      - name: ISOyu Gonder
        uses: actions/upload-artifact@v4
        with:
          name: Aspendos-Masaustu-ISO
          path: output.iso
