name: Aspendos ISO Final
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Gerekli Araclar
        run: |
          sudo apt-get update
          sudo apt-get install -y xorriso grub-pc-bin grub-common mtools squashfs-tools debootstrap

      - name: ISOyu Paketle
        run: |
          # Klasor hiyarsisi
          mkdir -p iso/boot/grub
          mkdir -p iso/live
          
          # Temel sistemi tekrar hizlica olustur
          sudo debootstrap --arch=amd64 --variant=minbase bookworm chroot-dir http://deb.debian.org/debian/
          sudo mksquashfs chroot-dir iso/live/filesystem.squashfs -noappend
          
          # Grub (Baslangic Menusu) Ayari
          echo 'menuentry "Aspendos OS (AntalyaliPide Edition)" {
            linux /boot/vmlinuz boot=live
            initrd /boot/initrd.img
          }' > iso/boot/grub/grub.cfg
          
          # ISO Olusturma Komutu
          grub-mkrescue -o aspendos-os-v1.iso iso

      - name: ISOyu Bize Gonder
        uses: actions/upload-artifact@v4
        with:
          name: Aspendos-Gercer-ISO
          path: "*.iso"
