name: Aspendos ISO Insa
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Aracları Yukle
        run: |
          sudo apt-get update
          sudo apt-get install -y debootstrap squashfs-tools xorriso grub-pc-bin grub-common mtools

      - name: Sistemi Insa Et
        run: |
          # Klasorleri hazirla
          mkdir -p aspendos_root/live
          
          # En temel Debian sistemini indir (Hata vermemesi için minbase seçtik)
          sudo debootstrap --arch=amd64 --variant=minbase bookworm chroot-dir http://deb.debian.org/debian/
          
          # Sisteme kimlik kazandir
          echo "AspendosOS" | sudo tee chroot-dir/etc/hostname
          
          # Sistemi paketle (Squashfs)
          sudo mksquashfs chroot-dir aspendos_root/live/filesystem.squashfs -noappend -e boot
          
          # ISO yapisi icin gerekli klasoru hazirla
          mkdir -p output
          # Test amacli bir dosya daha ekleyelim ki boş kalmasın
          cp aspendos_root/live/filesystem.squashfs output/
          echo "Aspendos Core v1" > output/versiyon.txt

      - name: Aspendos Dosyalarını Yukle
        uses: actions/upload-artifact@v4
        with:
          name: Aspendos-Sistem-Dosyalari
          path: output/
