name: Aspendos Elite Edition (KDE Plasma)
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Gerekli Araclar
        run: |
          sudo apt-get update
          sudo apt-get install -y xorriso grub-pc-bin grub-common mtools squashfs-tools debootstrap

      - name: Aspendos Sarayini Insa Et
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/live
          
          # 1. Temel Sistemi Kur (Inatci Mod)
          sudo debootstrap --arch=amd64 --include=gnupg,ca-certificates bookworm chroot-dir http://deb.debian.org/debian/
          
          # 2. Hata 100 İlacı: Depoları En Sağlam Şekilde İçeri Yaz
          sudo bash -c 'cat <<EOF > chroot-dir/etc/apt/sources.list
          deb http://deb.debian.org/debian bookworm main contrib non-free non-free-firmware
          deb http://deb.debian.org/debian bookworm-updates main contrib non-free non-free-firmware
          deb http://security.debian.org/debian-security bookworm-security main contrib non-free non-free-firmware
          EOF'
          
          # 3. Paket Kurulumu (Kritik: --fix-missing eklendi)
          sudo chroot chroot-dir apt-get update
          sudo chroot chroot-dir apt-get install -y --fix-missing --no-install-recommends \
            linux-image-amd64 live-boot sudo xorg sddm kde-plasma-desktop \
            konsole dolphin firefox-esr libreoffice-writer libreoffice-calc \
            libreoffice-l10n-tr nanorc

          # 4. Kullanici Ayari
          sudo chroot chroot-dir useradd -m -s /bin/bash aspendos
          echo "aspendos:123" | sudo chroot chroot-dir chpasswd
          echo "aspendos ALL=(ALL) NOPASSWD:ALL" | sudo tee chroot-dir/etc/sudoers.d/aspendos

          # 5. Dosya Hazırlıkları
          sudo mkdir -p chroot-dir/usr/share/aspendos
          [ -f "logo.jpg" ] && sudo cp logo.jpg chroot-dir/usr/share/aspendos/logo.jpg
          
          cp chroot-dir/boot/vmlinuz-* iso/boot/vmlinuz
          cp chroot-dir/boot/initrd.img-* iso/boot/initrd.img
          
          # 6. Sık
