name: Aptos Arch Elite - Final Rescue
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Depolari Guncelle
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm
          pacman -S --noconfirm arch-install-scripts squashfs-tools libisoburn grub mtools dosfstools binutils

      - name: Aptos Kok Dizini ve GUI
        run: |
          mkdir /aptos_root
          pacstrap -K /aptos_root base linux linux-firmware networkmanager \
          gnome-shell gdm gnome-control-center nautilus gnome-console \
          gnome-backgrounds sudo fastfetch mesa xorg-server --noconfirm

      - name: Bootloader ve Root Tamiri (Kritik Adim)
        run: |
          arch-chroot /aptos_root /bin/bash -c "
            # mkinitcpio'yu LIVE sisteme en uygun hale getiriyoruz
            echo 'HOOKS=(base udev autodetect modconf block filesystems keyboard fsck)' > /etc/mkinitcpio.conf
            mkinitcpio -p linux
            
            systemctl enable gdm
            systemctl enable NetworkManager
            useradd -m -g users -G wheel -s /bin/bash aspendos
            echo 'aspendos:123' | chpasswd
            echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel
          "

      - name: ISO'yu Insa Et (The Master Key)
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/arch/x86_64
          mksquashfs /aptos_root iso/arch/x86_64/airootfs.sfs -comp xz

          cp /aptos_root/boot/vmlinuz-linux iso/boot/vmlinuz
          cp /aptos_root/boot/initramfs-linux.img iso/boot/initrd.img

          # BU KISIM COK KRITIK: rootflags ve archisolabel her turlu ihtimale karsi eklendi
          cat <<EOF > iso/boot/grub/grub.cfg
          set default=0
          set timeout=5
          menuentry "Aptos Elite Arch Edition" {
            linux /boot/vmlinuz archisobasedir=arch archisolabel=APTOS_ARCH rootflags=loop rw
            initrd /boot/initrd.img
          }
          EOF

          # -volid APTOS_ARCH ile etiketi tam uyumlu hale getiriyoruz
          # -joliet ve -rock ekleyerek dosya sistemi uyumlulugunu artiriyoruz
          grub-mkrescue -volid "APTOS_ARCH" -o Aptos-Arch-Universal.iso iso

      - name: ISO'yu Yukle
        uses: actions/upload-artifact@v4
        with:
          name: Aptos-Arch-Final-Build
          path: Aptos-Arch-Universal.iso
