name: Aspendos Yapici
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Sistemi Kur
        run: |
          sudo apt-get update
          sudo apt-get install -y live-build
          mkdir build && cd build
          lb config --binary-images iso-hybrid
          sudo lb build
      - name: ISOyu Yukle
        uses: actions/upload-artifact@v4
        with:
          name: Aspendos-ISO
          path: build/*.iso
