name: Aspendos Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Basit Bir Dosya Olustur
        run: |
          mkdir build
          echo "Aspendos OS Yakinda Burada!" > build/bilgi.txt
          
      - name: Test Yuklemesi
        uses: actions/upload-artifact@v4
        with:
          name: Aspendos-Test-Dosyasi
          path: build/
