name: Aptos Arch Elite - Switch Root Fix
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Gerekli Araclar
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Syu --noconfirm
          pacman -S --noconfirm arch-install-scripts squashfs-tools libisoburn grub mtools dosfstools binutils

      - name: Aptos Kok Dizini ve GUI
        run: |
          mkdir /aptos_root
          pacstrap -K /aptos_root base linux linux-firmware networkmanager \
          gnome-shell gdm gnome-control-center nautilus gnome-console \
          gnome-backgrounds sudo fastfetch mesa xorg-server --noconfirm

      - name: Switch Root ve Bootloader Tamiri
        run: |
          # Initramfs'i Live sisteme uygun hale getiriyoruz
          arch-chroot /aptos_root /bin/bash -c "
            echo 'HOOKS=(base udev memdisk archiso_shutdown archiso archiso_loop_mnt archiso_pxe_common archiso_pxe_nbd archiso_pxe_http archiso_pxe_nfs archiso_kms block filesystems keyboard)' > /etc/mkinitcpio.conf
            # Not: archiso hook'lari standart kurulumda olmayabilir, o yuzden en guvenli HOOKS:
            echo 'HOOKS=(base udev autodetect modconf block filesystems keyboard fsck)' > /etc/mkinitcpio.conf
            mkinitcpio -p linux
            
            systemctl enable gdm
            systemctl enable NetworkManager
            useradd -m -g users -G wheel -s /bin/bash aspendos
            echo 'aspendos:123' | chpasswd
            echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel
          "

      - name: ISO'yu Insa Et (Safe Labeling)
        run: |
          mkdir -p iso/boot/grub
          mkdir -p iso/arch/x86_64
          mksquashfs /aptos_root iso/arch/x86_64/airootfs.sfs -comp xz

          cp /aptos_root/boot/vmlinuz-linux iso/boot/vmlinuz
          cp /aptos_root/boot/initramfs-linux.img iso/boot/initrd.img

          # Burasi KRITIK: img_label ve archisolabel ayni olmali
          cat <<EOF > iso/boot/grub/grub.cfg
          set default=0
          set timeout=5
          menuentry "Aptos Elite Arch Edition" {
            linux /boot/vmlinuz archisobasedir=arch archisolabel=APTOS_BOOT img_label=APTOS_BOOT rw quiet splash
            initrd /boot/initrd.img
          }
          EOF

          # -volid degeri GRUB'dakiyle birebir ayni olmali
          grub-mkrescue -volid APTOS_BOOT -o Aptos-Arch-Fixed.iso iso

      - name: ISO'yu Yukle
        uses: actions/upload-artifact@v4
        with:
          name: Aptos-Arch-Fixed-Build
          path: Aptos-Arch-Fixed.iso
